

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - PlaygroupConnect</title>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MDMovies.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PlaygroupConnect</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav me-auto">
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" style="text-decoration:none;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Age Range
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="All Ages">All Ages</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="Under 1">Under 1</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="1-3">1-3</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="3-5">3-5</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="5-7">5-7</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="8-10">8-10</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-agerange="Over 10">Over 10</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" style="text-decoration:none;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Category
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="">All Categories</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Early Development">Early Development</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Literacy and Language">Literacy and Language</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Mathematics and Logic">Mathematics and Logic</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Science and Nature">Science and Nature</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Creative Arts">Creative Arts</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Physical Development">Physical Development</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Social and Emotional Learning">Social and Emotional Learning</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Cultural and Global Awareness">Cultural and Global Awareness</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Technology and Digital Learning">Technology and Digital Learning</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-category="Special Needs Resources">Special Needs Resources</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a class="nav-link dropdown-toggle" style="text-decoration:none;" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Rating
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-rating="">All Ratings</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-rating="1">1 Stars</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-rating="2">2 Stars</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-rating="3">3 Stars</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-rating="4">4 Stars</a></li>
                                <li><a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-rating="5">5 Stars</a></li>
                            </ul>
                        </li>

                    </ul>
                    
                  
                    <form class="d-flex py-2 me-auto" asp-controller="Home" asp-action="Index" method="get">
                        <input class="form-control me-sm-2" type="search" placeholder="Search" aria-label="Search" name="searchTerm">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
                    </form>
                   

                    <partial name="_LoginPartial" />
                    
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top bg-primary footer text-light text-center">
        <div class="container">
            &copy; PlaygroupConnect  <a asp-area="" asp-controller="Home" asp-action="Index">Home Page</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
